  
  .unassigned-players input {
    padding: 8px;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .unassigned-players button,
  button {
    padding: 8px 12px;
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* .unassigned-players button:hover,
  button:hover {
    background-color: #0056b3;
  } */