body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f5;
}

.live-sessions-container {
  display: flex; /* Use flexbox to align logo and text */
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  margin-top: 50px;
  text-align: center; /* Center text in the container */
}

.logo-container {
  margin-right: 30px; /* Space between logo and text */
}

.logopb  {
  width: 250px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
}

.game-stats {
  background-color: #fff; /* Optional: background color for better contrast */
  border: 3   px solid #222;
  padding: 20px; /* Optional: padding */
  border-radius: 15px; /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow effect */
}

h1 {
  font-size: 2rem; /* Adjust font size as needed */
  margin-bottom: 20px; /* Space below the title */
}

.game-stats h2 {
  font-size: 1.5rem; /* Font size for game stats heading */
  margin-bottom: 15px; /* Space below the heading */
}

.game-stats p {
  font-size: 1.25rem; /* Font size for stats */
}
