body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 25px;  
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 40px auto;
  font-family: 'Roboto';
  text-align: center;
  opacity: 0; 
  transition: all 0.3s ease;
  animation: fadeInUp 0.8s ease-in-out forwards; 
}       

.Logo {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  animation: fadeIn 0.8s ease-in-out;
}

.LoginTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  animation: fadeIn 0.9s ease-in-out;
}

.LoginToggleContainer {
  display: flex;
  gap: 10px; 
  margin-bottom: 20px;
  width: 100%; 
}

.LoginToggleButton {
  padding: 10px; 
  border-radius: 25px;
  background-color: #afacac;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  text-align: center;   
  box-sizing: border-box; 
}

.active-toggle {
  background-color: #2870a7;
  color: white;
}

.LoginInput {
  width: calc(100% - 24px);
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 1.2s ease-in-out;
}

.LoginInput:focus {
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.Loading {
  font-size: 18px;
  margin-bottom: 15px;
  animation: fadeIn 1.3s ease-in-out;
}

.button {
  background-color: #2870a7;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  width: calc(100% - 24px);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  animation: fadeIn 1.4s ease-in-out;
}

.button:hover {
  background-color: #328cc8;
  animation: buttonHover 0.6s ease-in-out infinite;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.SignupLink {
  margin-top: 20px;
  animation: fadeIn 1.5s ease-in-out;
}

.LinkText {
  color: #0052aa;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.LinkText:hover {
  color: #d44e00;
  text-decoration: underline;
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes buttonHover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}